{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": [
    "react-app",
    "plugin:jest/recommended"
  ],
  "rules": {
    "react/prop-types": 0,
    "react/jsx-filename-extension": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "no-confusing-arrow": 0
  },
  "plugins": ["jest"]
}
